.ownerseats{
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	background-color: #22553b;
	width: 100%;
	min-height: 100vh;
	display: flex;
.side-nav h2 {
	text-align: left;
	color: white;
	margin-bottom: 0;
}
	a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding: 0px 4%;
}
.btn {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-weight: bold;
}
.seats-container{

}
}