.profile{
background-color: #d6d6d6;
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding: 0px 4%;
}
.btn {
  background: #484848;
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-weight: bold;
}
.profile-bg{
	width: 100%;
	height: 200px;
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../../assets/signbg.jpg');
	background-size: cover;
	background-position: center;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin: 40px 60px;
	border-radius: 6px;
	height: auto;
}
.manage{
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	padding:  20px;
	margin-left: 120px;
}
.manage-links button{
	margin: 10px;
	background-color: #161616;
}
.manage-links{
	padding-left: 20px;
	.save,.edit{
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-weight: bold;
	width: auto;
	}
	.save{
	background-color: rgb(48, 90, 48);
	}
	.save:disabled{
		background-color: #a4a4a4;
			cursor: not-allowed;
			color: #434343;
	}
}
.profile-img{ 
	img{
	border: 2px solid #006923;
	height: 80px;
	border-radius: 50%;
	margin: 20px;
}
button{
	cursor: pointer;
}
.default,.change-photo{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 2px solid #006923;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	position: absolute;
	transform: translate(-0%, -155%);
	font-weight: 600;
	font-size: 20px;
	background-color: #ffffff7d;
	color: rgb(0, 0, 0);
}
.default{
	font-size: 18px;
}
.default i{
	font-size: 22px;
	margin: 2px;
}
}

hr{
	width: 100%;
}
.section{
	width: 100%;
	padding: 20px;
}
.subhead{
	width: 80%;
	text-align: left;
	margin: 6px 0 40px 70px;
}
.main-data{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	label{
		text-align: left;
		font-size: 18px;
		font-weight: 600;
		width: 14%;
	}
	input{
		width: 49%;
		padding: 10px;
		border-radius: 6px;
		border: 1px solid #eae8e8;
		outline: none;
		font-size: 15px;
	}
	button{
		background: #484848;
		color: rgb(255, 255, 255);
		padding: 8px 20px;
		font-size: 16px;
		border-radius: 6px;
		cursor: pointer;
		border: 0;
		outline: 0;
		font-weight: bold;
		width: 10%;
		margin-left: 10px;
	}
}
	.email input{
		width: 60%;
	}
.account-data,.main{
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.account-data{
	padding: 20px 0;
}
.main{
	padding: 0 0 20px 0;
}
.section .data{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	label{
		text-align: left;
		font-size: 18px;
		font-weight: 600;
		width: 14%;
	}
	input{
		width: 60%;
		padding: 10px;
		border-radius: 6px;
		border: 1px solid #eae8e8;
		outline: none;
		font-size: 15px;
	}
}
.mandatory{
	color: red;
	margin-left: 6px;
}
.save{
	width: 100%;
	button{
		height: 36px;
		width: 50%;
	background-color: rgb(48, 90, 48);
	color: white;
		font-size: 16px;
		border-radius: 6px;
		cursor: pointer;
		border: 0;
		outline: 0;
		font-weight: bold;
		margin-top: 40px;
	}
	button:disabled{
		background-color: #a4a4a4;
			cursor: not-allowed;
			color: #434343;
	}
}
.otheredits{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 60px;
	height: auto;
	width: 100%;
}
.edit{
	width: 46%;
}
.edit button{
	width: 100%;
	border-radius: 6px;
	text-align: center;
	padding:  10px;
	background-color: #fff;
		font-size: 16px;
		cursor: pointer;
		border: 0;
		outline: 0;
		font-weight: bold;
		height: 44px;
}

}