
.footer{
	margin-top: auto;
  height: 190px;
  background-color: #22925a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;

	ul{
	list-style: none;
}


.follow i{
	font-size: 40px;
}
.add-cont i{
	height: 18px;
	width: 18px;
}
.foot{
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
	color: white;
}
.foot .logo img {
  height: 30px;
}
.follow ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 190px;
}
.main-foot p{
	padding-top: 20px;
	font-size: 14px;
	padding-right: 250px;
}
.follow{
	padding-top: 10px;
}
.add-cont{
	padding-right: 250px;
}
.add-cont h5{
	font-size: 17px;
}
.add-cont ul{
	padding-top: 20px;
}
.add-cont li{
	display: flex;
	align-items: center;
	font-size: 16px;
	padding: 2px 0px;
}
.add-cont li span{
	padding-left: 10px;
}
.nav-link h5{
		font-size: 17px;
}
.nav-link ul{
	padding-top: 20px;
}
.nav-link li{
	padding: 1px 0px;
}
.nav-link a{
	color: white;
	font-size: 16px;
	font-weight: bold;
}
}